body {
    width: 100%;
    color: #f1f1f1;
    font-family: Raleway;
    font-size: 14px;
    background-image: url(margot-robbie.jpg);
    background-repeat: space;
    background-attachment:fixed;
    background-size: cover;
}
a {
text-decoration: none;
}

a:visited {
    color: rgb(164, 164, 164);
}
a:hover {
    color: #fb376b;
}

p {
    padding: 2px;
}

h1 {
    margin: 0;
    color: #fb376b;
    font-family: Dosis;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    color: rgba(43, 153, 251, 0.8);
    font-family: Dosis;
    text-transform: uppercase;
}
/* tables */
td {
    border: 1px solid rgb(106, 106, 106);
    padding: 5px;
    color: #e8ebed;
}

th {
    border-bottom: 2px solid black;
    padding: 7px;
    text-transform: uppercase;
    color: #e6007c;
    text-align: center;
    background-color: rgb(224, 228, 230);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin:5px;
}
th:hover {
    background-color: rgb(191, 193, 194);
}

caption {
    caption-side: bottom;
    text-align: right;
    font-size: 10px;
    padding: 2px;
}

.total {
    background-color: rgba(#e5fbdc, 0.56);
    border-bottom: 2px solid black;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(46, 171, 210, 0.42);
}

table.left {
    border-collapse: collapse;
    padding: 5px;
    width: 300px;
}
/* Div */
div.lorem {
    margin-bottom: 5px;
    padding: 15px 20px 15px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    text-align: justify;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    overflow-x: scroll;
}
p {
    line-height: 1.5;
}
