body {
    width: 100%;
    color: #494d50;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 1.5;
}

p {
    padding: 10px;
    background-color: #dff0d8;
}

h1 {
    margin: 0;
    color: #fb376b;
    font-size: 18px;
}

h2 {
    margin: 0;
    color: rgba(43, 153, 251, 0.8);
}

td {
    border: 1px solid lightgray;
    padding: 5px;
    color: #57595b;
}

th {
    border-bottom: 2px solid black;
    padding: 7px;
    text-transform: uppercase;
    color: #0073e6;
    text-align: left;
}

caption {
    caption-side: bottom;
    text-align: right;
    font-size: 10px;
    padding: 4px;
}

.total {
    background-color: #e5fbdc);
    border-bottom: 2px solid black;
}

table.left {
    border-collapse: collapse;
    padding: 5px;
    font-size: 13px;
    width: 450px;
}

div.lorem {
    margin-bottom: 1px;
    padding: 15px 20px 15px 10px;
    background-color: #dff0d8;
    width: 420px;
    text-align: justify;
}
